.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5%;

}
.logo {
    width:55px;
    cursor: pointer;
   
}
.logo img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.nav-items{
    display: flex;
    list-style: none;
    gap:20px;

}
.nav-items li{
    padding: 8px 18px;
    font-size: larger;
    font-weight: 600;
    cursor: pointer;
}
.nav-items li:hover{
    outline: 0;
    border: 0;
    border-radius: 25px; 
    background:#40A2D8 ;
    color: #fff;
    text-align: center;

}
.login-btn{
    outline: 0;
    border: 0;
    border-radius: 25px;
    font-size: large;
    font-weight: 600;
    padding: 10% 20%;
    width: 7rem;
    background:#40A2D8 ;
    color: #fff;
    cursor: pointer;
    transition: all .5s;
    position: relative;
}
.login-btn span::after{
    content: '\00bb'; 
    font-size: large;
    position: relative;
    right:-10px;
    top:0px;
    color:#fff;
    opacity: 0;
    transition: all .5s;
}
.login-btn span{
    display: inline-block;
    transform: translateX(0);
    transition:.5s;
}
.login-btn:hover span{
    transform: translateX(-10px);
}
.login-btn:hover span::after{
    right: -5px;
    opacity: 1;
    
}